:root {
    --blue: #5DAAF1;
    --purple: #A770EA;

    --hover-bg : pink;

    --background: white;
    --foreground: black;
    --keyword: rgb(95, 6, 6);
    --operator: black;
    --type: green;
    --prim: orange;
    --comment: gray;
    --import: purple;
    --union: var(--type);
    --function: rgb(8, 105, 138);
    --theorem: var(--function);
    --constructor: brown;

    --sidebar-c: #99acbf;
    --sidebar-c-alt: #9e8eb2;
    --sidebar-c-dark: #909faa;
    --sidebar-w: 225px;
    --sidebar-p: 20px;

    --trans-duration: 0.2s;
}


* {
    scroll-behavior: smooth;
}

body{
    padding: 0;
    background-color: var(--background);
}

.sidebar-bg {
    background-color: var(--background);
    height: 100%;
    position: fixed;
    width: var(--sidebar-w);
}

.sidebar{
    position: fixed;
    top: 0px;
    left: 0;

    overflow-y: scroll;

    box-sizing: border-box;

    padding: var(--sidebar-p);
    width: var(--sidebar-w);
    height: calc(100%);

    transition: width var(--trans-duration);

    border-right: solid 2px var(--operator);

    background: var(--background);
    color: var(--operator);

    font-family: 'Inter', sans-serif;

    a, a:link, a:visited {
        color: var(--operator);
        text-decoration: none;
    }

    a:hover, a:active {
        text-decoration: underline;
    }

    .mobile {
        display: none;
    }

    section:not(:last-of-type) {
        border-bottom: 1px solid var(--operator);
    }

    section.titles{
        margin-bottom: 20px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;


        .nav-logo {
            svg {
                * {
                    transition: fill var(--trans-duration);
                }

                margin-top: 15px;
                margin-bottom: 5px;
    
                width: var(--logo-width);
                height: calc((var(--sidebar-w) - 60px) * 402 / 1668);
            }
        }
    
        /* Invert colors on hover */
        .nav-logo:hover {
            svg .blue {
                fill: var(--purple);
            }
    
            svg .purple {
                fill: var(--blue);
            }
        }
    }

    section.links {
        margin-bottom: 25px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        h2 {
            margin: 0px 0 20px;
            font-size: 22px;
        }

        a.current{
            color: var(--keyword);
            font-weight: bold;
        }
    
        details {
            summary {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 5px;
            }
        
            summary.open {
                color: var(--keyword);
            }

            summary:hover {
                cursor: pointer;
            }
    
            ul {
                margin-top: 7px;
                margin-bottom: 0;
    
                li:last-child{
                    margin-bottom: 10px;
                    font-size: 16px;
                }
            }
        }
    
        details:last-of-type {
            margin-bottom: 20px;
        }
    }

    section.controls{
        margin-bottom: 200px;

        .theme-div {
            display: flex;
            flex-direction: column;
            gap: 5px;

            select {
                border: solid 1px var(--operator);
                border-radius: 4px;
                padding: 2px 6px;
                background: var(--background);
                color: var(--operator);
            }
    
            select:hover {
                cursor: pointer;
                /* background: var(--sidebar-c-dark); */
            }
        }
    }
}

pre {
    padding: 20px;
    margin-top: 0;
    margin-left: calc(var(--sidebar-w));

    transition: margin-left var(--trans-duration);


    code {
        font-size: 14px;
        font-family: 'JetBrains Mono', monospace;
        background-color: var(--background);
        color: var(--foreground);

        a,
        a:link,
        a:visited {
            text-decoration: none;
        }

        a:hover,
        a:active {
            background-color: var(--hover-bg);
        }

        .stdlib-keyword {
            color: var(--keyword);
        }
        .stdlib-operator {
            color: var(--operator);
        }
        .stdlib-type {
            color: var(--type);
        }
        .stdlib-prim {
            color: var(--prim);
        }
        .stdlib-comment {
            color: var(--comment);
        }
        .stdlib-import {
            color: var(--import);
        }
        .stdlib-union {
            color: var(--union);
        }
        .stdlib-function {
            color: var(--function);
        }
        .stdlib-theorem {
            color: var(--theorem);
        }
        .stdlib-constructor {
            color: var(--constructor);
        }
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    :root { 
        --sidebar-w: 180px;
        --sidebar-p: 15px;
    }

    .sidebar {

        section.titles{
            .nav-logo {
                svg {
                    height: calc((var(--sidebar-w) - 40px) * 402 / 1668);
                }
            }
        }

        section.links {
            margin-bottom: 25px;
    
            h2 {
                margin-top: 10px;
                font-size: 18px;
            }

            details {
                summary {
                    font-size: 14px;
                }
            
                ul {
                    margin-top: 7px;
                    margin-bottom: 0;
        
                    li {
                        font-size: 14px;
                    }

                    li:last-child{
                        margin-bottom: 10px;
                    }
                }
            }
        
            details:last-of-type {
                margin-bottom: 20px;
            }
        }

        section.controls {
            font-size: 14px;
        }
    }
}

@media (max-width: 767.98px) {

    :root {
        --sidebar-w: 45px;
        --sidebar-p: 12px;
    }

    .mobile {
        display: block !important;
    }

    .sidebar {

        #nav-toggle {
            width: fit-content;
            padding: 10px;
            padding-left: 0;

            border: none;
            background: none;

            font-size: 16px;
            color: var(--operator);
        }

        #nav-toggle:hover { 
            cursor: pointer;
            color: var(--keyword);
        }

        .hidden {
            display: none;
        }
    }

    pre {
        code {
            font-size: 10px;
        }
    }
}